body {
  background-image: url(Fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vh;

}
 /*modifique el porcentaje de las columnas para poder arreglar el lateral*/

.completo {
 display: grid;
 grid-template-columns:80% 20% ;
 grid-template-rows:20% 75% 5% ;
}

.caja {
  border: 4p solid black;
  line-height: 30px;
  color: #ebedd6;
}


.c1 {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: transparent;
}

.c2 {
  grid-column: 1/2;
  grid-row: 2/3;
  
  
}

.c3 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 10rem;
  margin-left: 55rem;
  
}


.c4 {
  color: white;
  grid-column: 1/3;
  grid-row: 3/4;
  margin-top: 3rem;

}
* {
  padding: 0px;
  margin: 0px;
  
}

button{
  color: #ebedd6;
  background: transparent;
  border: 2px solid #006970;
  border-radius: 10px;
  font-size: 120%;
  width: 80%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20%;

}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
  display: none;
  width: auto;

}
.dropdown:hover .dropdown-content {
 display: block;
  background-image: none;
}
.dropdown-content a {
  display:block;
  color: #ebedd6;
  padding: 5px;
  text-decoration: none;
  
  
}
.dropdown-content a:hover {
  color: #006970;
  
}
.grid {
  display: grid;
grid-template-columns: 70% 10% 10% 10%;
}


.nombre {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  color: #ebedd6;
}
.Idioma {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
 

}
.login {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  margin-top: 15%;
}
.menu {
  grid-column-start: 4;
  grid-column-end: 5;
  text-align: center;
  margin-top: 15%;
}
p {
  color: #ffff;
}

/* Parte de Sharon que se borr칩 */

.logo{
    height: 250px;
    border-radius: 50%;
  }
  .menu{
    height: 50px;
  }
  
  .desplegable{
    border-radius: 7px;
  }
 /*Modificado el formulario*/

  section {
    background-color: #006970;
    opacity: 0.90;
    height: 20rem;
    width: 40rem;
    display: grid;
    border-radius: 15%;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 45rem;
    margin-top: 6rem;
    
  }
  /*hasta aca*/
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .formulario{
    display: flex;
    flex-direction: column;
    width: 14rem;
    margin: 0.5rem 0.5rem;
  }
  .formulario label{
    margin-bottom: 0.1rem;
    color:white;
    margin-top: 0.2rem;
    
    
  }
  .selec{
    height: 2.2rem;
    border: 2px;
    border-radius: 10%

  }

  .formulario label{
    height: 2.2rem;
    border: 2px;
    border-radius: 10%;
    
  }
  .formulario input{
    height: 2.2rem;
    border: 2px;
    border-radius: 10%;
  }

  .boton{
    border: 1px solid white;
    padding: 10px;
    background-color: #006970;
    color: white;
    border-radius: 15%;
    display: flex;
    margin-left: 12rem;
    font-weight: bold;
  }
/*modificado la transicion y position*/
.comfort-1{
    color: white;
    background-color:#7A7A7A;
    height: 0px;
    opacity: 0;
    transition: all .3s ease;
    overflow: hidden;
    list-style: none;
    position: fixed;
  }
 /*margen modificado y tama침o de imagen*/
  .comfort{
    height: 70px;
    padding-bottom: 5px;
    padding-right: 20px;
  }
/*modificado*/
  .comfort:hover + .comfort-1{
    height: 12rem;
    width: 18rem;
    opacity: 1;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
  }
  /*modificado la transicion y position*/
  .quality-1{
    color: white;
    background-color:#7A7A7A;
    height: 0px;
    opacity: 0;
    transition: all .3s ease;
    overflow: hidden;
    list-style: none;
    position: fixed;
  }
  /*modificado los margenes y tama침o de imagen*/
  .quality{
    height: 70px;
    margin-top: 3rem;
    margin-right: auto;
  }
/*modificado y postion*/
  .quality:hover + .quality-1{
    height: 12rem;
    width: 18rem;
    opacity: 1;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    ;
  }
/*modificado la transicion y position*/
  .baggage-1{
      color: white; 
      background-color:#7A7A7A;
      height: 0px;
      opacity: 0;
      transition: all .3s ease;
      overflow: hidden;
      list-style: none;
      position: fixed;
      
    }
    /*margen modificado y tama침o de imagen*/

    .baggage{
      height: 70px;
      margin-top: 3rem;
  
    }
  /*modificado*/
    .baggage:hover + .baggage-1{
      height: 12rem;
      width: 18rem;
      opacity: 1;
      text-align: justify;
      border-radius: 10px;
      padding: 20px;
    }
nav {
  width: 100%;
  position: fixed;
}
